<!DOCTYPE HTML>
<html lang="ko">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
    <link href="../static/css/bootstrap-suggest.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-suggest.js"></script>
    <script src="../static/js/app.js"></script>

</head>


<body>
    <div class="dialog">
        <div class="form-row">
            <button class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-more">CLOSE</button>
            <textarea class="form-control txt_response col-md-2" id="predict13" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict14" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict15" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict16" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict17" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict18" rows="1" readonly></textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn12"><img  src="https://static.arasaac.org/pictograms/2340/2340_2500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn13"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn14"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn15"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn16"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn17"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>

            <textarea class="form-control txt_response col-md-2" id="predict19" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict20" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict21" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict22" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict23" rows="1" readonly></textarea>
            <textarea class="form-control txt_response col-md-2" id="predict24" rows="1" readonly></textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn18"><img  src="https://static.arasaac.org/pictograms/2340/2340_2500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn19"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn20"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn21"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn22"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn23"><img  src="https://image.istarbucks.co.kr/upload/store/skuimg/2020/07/[11108692]_20200724094450252.jpg" style="max-width: 100%; height: auto;"></button>
        </div>
    </div>
    <div class="dialog2">
        <div class="form-row">
            <textarea class="form-control txt_response col-md-12" rows="1" readonly>원하시는 장소를 선택해주세요</textarea>
            <button class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-cate">CLOSE</button>
            <button class="col-md-3" type="button" style="background-color:white;" id="img-btn-cafe"><img  src="https://image.istarbucks.co.kr/cardImg/20201208/007754_WEB.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-3" type="button" style="background-color:white;" id="img-btn-movie"><img  src="https://w7.pngwing.com/pngs/364/782/png-transparent-cinematography-film-cinematography-logo-film-poster-film.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-3" type="button" style="background-color:white;" id="img-btn-store"><img  src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-vector-shop-icon-png-image_3762863.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-3" type="button" style="background-color:white;" id="img-btn-hospital"><img  src="https://png.pngtree.com/element_origin_min_pic/17/01/09/3159ad520656ecd29d070744b0d78a7d.jpg" style="max-width: 100%; height: auto;"></button>

            <textarea class="form-control txt_response col-md-3" id="cate-text1" rows="1" readonly>카페</textarea>
            <textarea class="form-control txt_response col-md-3" id="cate-text2" rows="1" readonly>영화관</textarea>
            <textarea class="form-control txt_response col-md-3" id="cate-text3" rows="1" readonly>가게</textarea>
            <textarea class="form-control txt_response col-md-3" id="cate-text4" rows="1" readonly>병원</textarea>

        </div>
    </div>
    <div class="dialog-cafe">
        <div class="form-row">
            <button class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-cate-cate">CLOSE</button>
            <textarea class="form-control col-md-2" id="cate-cafe-text1" rows="1" >아메리카노</textarea>
            <textarea class="form-control col-md-2" id="cate-cafe-text2" rows="1" >계산</textarea>
            <textarea class="form-control col-md-2" id="cate-cafe-text3" rows="1" >시럽</textarea>
            <textarea class="form-control col-md-2" id="cate-cafe-text4" rows="1" >영수증</textarea>
            <textarea class="form-control col-md-2" id="cate-cafe-text5" rows="1" >샷</textarea>
            <textarea class="form-control col-md-2" id="cate-cafe-text6" rows="1" >텀블러</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate1"><img  src="https://cdn.crowdpic.net/list-thumb/thumb_l_269080D6504E619FDB5E2B0965196CC1.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate2"><img  src="static/img/cate/cate-cafe/계산해요.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate3"><img  src="static/img/cate/cate-cafe/시럽.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate4"><img  src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate5"><img  src="static/img/cate/cate-cafe/커피 샷.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate6"><img  src="static/img/cate/cate-cafe/텀블러.jpg" style="max-width: 100%; height: auto;"></button>

            <textarea class="form-control txt_response col-md-2" id="cate-cafe-text7" rows="1" readonly>테이크아웃</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-cafe-text8" rows="1" readonly>현금</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-cafe-text9" rows="1" readonly>카드</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-cafe-text10" rows="1" readonly>얼음</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-cafe-text11" rows="1" readonly>영수증</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-cafe-text12" rows="1" readonly>환불</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate7"><img  src="static/img/cate/cate-cafe/테이크아웃.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate8"><img  src="static/img/cate/cate-cafe/현금.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate9"><img  src="static/img/cate/cate-cafe/카드.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate10"><img  src="static/img/cate/cate-cafe/얼음.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate11"><img  src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cate12"><img  src="static/img/cate/cate-cafe/환불.jpg" style="max-width: 100%; height: auto;"></button>
        </div>
    </div>
    <div class="dialog-num">
        <div class="form-row">
            <textarea class="form-control txt_input col-md-12" id="input_num" rows="1" readonly></textarea>
            <button class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-num">CLOSE</button>
            <textarea class="form-control col-md-2" id="num1" rows="1" >1</textarea>
            <textarea class="form-control col-md-2" id="num2" rows="1" >2</textarea>
            <textarea class="form-control col-md-2" id="num3" rows="1" >3</textarea>
            <textarea class="form-control col-md-2" id="num4" rows="1" >4</textarea>
            <textarea class="form-control col-md-2" id="num5" rows="1" >5</textarea>
            <textarea class="form-control col-md-2" id="num6" rows="1" >6</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num1"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-1-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num2"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-2-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num3"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-3-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num4"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-4-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num5"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-5-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num6"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-6-icon.png" style="max-width: 100%; height: auto;"></button>

            <textarea class="form-control txt_response col-md-2" id="num7" rows="1" readonly>7</textarea>
            <textarea class="form-control txt_response col-md-2" id="num8" rows="1" readonly>8</textarea>
            <textarea class="form-control txt_response col-md-2" id="num9" rows="1" readonly>9</textarea>
            <textarea class="form-control txt_response col-md-2" id="num0" rows="1" readonly>0</textarea>
            <textarea class="form-control txt_response col-md-2" id="numhan" rows="1" readonly>한</textarea>
            <textarea class="form-control txt_response col-md-2" id="numdu" rows="1" readonly>두</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num7"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-7-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num8"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-8-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num9"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-9-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num0"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-0-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-numhan"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-2-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-numdu"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-2-icon.png" style="max-width: 100%; height: auto;"></button>
        </div>
    </div>


    <div class="overlay">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>

    <a href="/mainpage" id="go_main">메인 페이지</a>
    <h2> NLP TASK Using BERT </h2>
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-10">
            <center>
                <h3>B반 3조 AAC</h3>
            </center>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <br>
                    <h4>문장</h4>
                </div>
            </div>
            <div class="clone-img "></div>



            <div class="form-row">
                <div class="form-group col-md-6">
                    <textarea class="form-control txt_input" id="input_text" rows="1" readonly></textarea>
                </div>
                <div class="form-group col-md-1">
                    <button type="button" class="" id="delete"><img src="static/img/dogu/뒤로가기.PNG" style="max-width: 100%; height: 100%;"></button>
                </div>
                <div class="form-group col-md-3">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location.reload()" id="init_text">문장 초기화</button>
                </div>
                <div class="form-group col-md-2">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg" id="btn-process-prediction">predict</button>
                </div>
                <div class="form-group col-md-4">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-init">문장만들기</button>
                </div>
                <div class="form-group col-md-3">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-cate">카테고리</button>
                </div>

                <div class="form-group col-md-2">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-num">숫자</button>
                </div>
                <div class="form-group col-md-1">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-jum">.</button>
                </div>
                <div class="form-group col-md-1">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-question">?</button>
                </div>
                <div class="form-group col-md-1">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-nuggimpyo">!</button>
                </div>
            </div>


            <h4> 예상 단어  </h4>
            <div class="form-row">

                <textarea class="form-control txt_response col-md-2" id="predict1" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict2" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict3" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict4" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict5" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict6" rows="1" readonly></textarea>

                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn1"><img  src="https://static.arasaac.org/pictograms/2340/2340_2500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn2"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn3"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn4"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn5"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn6"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>

                <textarea class="form-control txt_response col-md-2" id="predict7" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict8" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict9" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict10" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict11" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2 " rows="1" readonly>더 보기</textarea>

                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn7"><img  src="https://static.arasaac.org/pictograms/2340/2340_2500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn8"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn9"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn10"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn11"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-more"><img  src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi6fN_fQV-XoLBHBTz-6zZkClnZUUYmaul3w&usqp=CAU" style="max-width: 100%; height: auto;"></button>

            </div>
        </div>

        <div class="col-sm-1"></div>
    </div>
</body>
</html>