<!DOCTYPE HTML>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
    <link href="../static/css/bootstrap-suggest.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-suggest.js"></script>
    <script src="../static/js/app.js"></script>

<!--    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons" rel="stylesheet">-->
<!--    &lt;!&ndash;[edit]&ndash;&gt;-->
<!--    <script>-->
<!--        window.onload=function() {-->
<!--         document.getElementById("predict1").onclick=processText1;-->
<!--         document.getElementById("predict2").onclick=processText2;-->
<!--         document.getElementById("predict3").onclick=processText3;-->
<!--         document.getElementById("predict4").onclick=processText4;-->
<!--         document.getElementById("predict5").onclick=processText5;-->
<!--        }-->

<!--        function processText1() {-->
<!--         var txtBox = document.getElementById("predict1");-->
<!--         var lines = txtBox.value.split("\n");-->

<!--         // generate HTML version of text-->
<!--         var resultString  = "";-->
<!--         for (var i = 0; i < lines.length; i++) {-->
<!--           resultString += lines[i];-->
<!--         }-->
<!--         resultString += "";-->

<!--         // print out to page-->
<!--         var blk  = document.getElementById("input_text");-->
<!--         blk.innerHTML  =  resultString;-->
<!--        }-->

<!--        function processText2() {-->
<!--         var txtBox = document.getElementById("predict2");-->
<!--         var lines = txtBox.value.split("\n");-->

<!--         // generate HTML version of text-->
<!--         var resultString  = "";-->
<!--         for (var i = 0; i < lines.length; i++) {-->
<!--           resultString += lines[i];-->
<!--         }-->
<!--         resultString += "";-->

<!--         // print out to page-->
<!--         var blk  = document.getElementById("input_text");-->
<!--         blk.innerHTML  =  resultString;-->
<!--        }-->

<!--        function processText3() {-->
<!--         var txtBox = document.getElementById("predict3");-->
<!--         var lines = txtBox.value.split("\n");-->

<!--         // generate HTML version of text-->
<!--         var resultString  = "";-->
<!--         for (var i = 0; i < lines.length; i++) {-->
<!--           resultString += lines[i];-->
<!--         }-->
<!--         resultString += "";-->

<!--         // print out to page-->
<!--         var blk  = document.getElementById("input_text");-->
<!--         blk.innerHTML  =  resultString;-->
<!--        }-->

<!--        function processText4() {-->
<!--         var txtBox = document.getElementById("predict4");-->
<!--         var lines = txtBox.value.split("\n");-->

<!--         // generate HTML version of text-->
<!--         var resultString  = "";-->
<!--         for (var i = 0; i < lines.length; i++) {-->
<!--           resultString += lines[i];-->
<!--         }-->
<!--         resultString += "";-->

<!--         // print out to page-->
<!--         var blk  = document.getElementById("input_text");-->
<!--         blk.innerHTML  =  resultString;-->
<!--        }-->

<!--        function processText5() {-->
<!--         var txtBox = document.getElementById("predict5");-->
<!--         var lines = txtBox.value.split("\n");-->

<!--         // generate HTML version of text-->
<!--         var resultString  = "";-->
<!--         for (var i = 0; i < lines.length; i++) {-->
<!--           resultString += lines[i];-->
<!--         }-->
<!--         resultString += "";-->

<!--         // print out to page-->
<!--         var blk  = document.getElementById("input_text");-->
<!--         blk.innerHTML  =  resultString;-->
<!--        }-->
<!--    </script>-->
    <!--[edit]-->
</head>



<body>
    <div class="overlay">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>

    <h2> NLP TASK Using BERT </h2>
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-10">
            <center>
                <h3>B반 3조 AAC</h3>
            </center>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <br>
                    <h4>문장</h4>
                </div>
            </div>
            <div class="clone-img "></div>



            <div class="form-row">
                <div class="form-group col-md-9">
                    <textarea class="form-control txt_input" id="input_text" rows="1" readonly></textarea>
                </div>
                <div class="form-group col-md-3">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg" id="btn-process-prediction">predict</button>
                </div>
                <div class="form-group col-md-1">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-init">init</button>
                </div>
                <div class="form-group col-md-3">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-cate">카테고리</button>
                </div>
                <div class="form-group col-md-3">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-half">반/존대</button>
                </div>
                <div class="form-group col-md-2">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-num">숫자</button>
                </div>
                <div class="form-group col-md-1">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-jum">.</button>
                </div>
                <div class="form-group col-md-1">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-question">?</button>
                </div>
                <div class="form-group col-md-1">
                    <label></label>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-process-nuggimpyo">!</button>
                </div>
            </div>


            <h4> 예상 단어  </h4>
            <div class="form-row">

                <textarea class="form-control txt_response col-md-2" id="predict1" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict2" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict3" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict4" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict5" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict6" rows="1" readonly></textarea>

                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn1"><img  src="https://static.arasaac.org/pictograms/2340/2340_2500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn2"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn3"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn4"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn5"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn6"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>

                <textarea class="form-control txt_response col-md-2" id="predict7" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict8" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict9" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict10" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict11" rows="1" readonly></textarea>
                <textarea class="form-control txt_response col-md-2" id="predict12" rows="1" readonly></textarea>

                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn7"><img  src="https://static.arasaac.org/pictograms/2340/2340_2500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn8"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn9"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn10"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn11"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn12"><img  src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>

            </div>
        </div>

        <div class="col-sm-1"></div>
    </div>
</body>
</html>