<!DOCTYPE HTML>
<html lang="ko" xmlns="">


<head>
    <meta charset="utf-8">

    <title>리:본</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
    <link href="../static/css/bootstrap-suggest.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-suggest.js"></script>
    <script src="../static/js/app.js"></script>

    <!--<link href="static/css/style.css" rel="stylesheet">-->
    <style>
		textarea123 {
			width: 100%;
			height: 200px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px #1E90FF;
			border-radius: 5px;
			font-size: 80px;
			resize: both;
		}
	</style>

</head>



<body>
    <button id = 'no-pic' class="invisible col-md-2" style="background-color:white;">
      <img style="background-color:white;max-width: 100%; height: auto;" src="static/img/dogu/pure-white.PNG">
      <div id= 'center-word' class="centered">Centered</div>
    </button>
    <div class="dialog">
        <div class="form-row">
            <button style="font-size: 2.5em;" class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-more">CLOSE</button>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict12" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict13" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict14" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict15" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict16" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict17" rows="1" ></textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn12"><img id="image12" src="static/img/init/me.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn13"><img id="image13" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn14"><img id="image14" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn15"><img id="image15" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn16"><img id="image16" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn17"><img id="image17" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>

            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict18" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict19" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict20" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict21" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict22" rows="1" ></textarea>
            <textarea style="font-size: 2.5em;" class="cen form-control col-md-2" id="predict23" rows="1" ></textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn18"><img id="image18" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn19"><img id="image19" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn20"><img id="image20" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn21"><img id="image21" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn22"><img id="image22" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn23"><img id="image23" src="https://static.arasaac.org/pictograms/2296/2296_hair-020100_skin-F4ECAD_500.png" style="max-width: 100%; height: auto;"></button>
        </div>
    </div>
    <div class="dialog2">
        <div class="form-row">
            <textarea style="font-size: 4em;" class="cen form-control col-md-12" rows="1" >원하시는 장소를 선택해주세요</textarea>
            <button style="font-size: 2.5em;"class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-cate">CLOSE</button>
            <button class="col-md-3" type="button" style="background-color:white;" id="img-btn-cafe"><img  src="static/img/cate/cate-cafe/cate-cafe.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-3" type="button" style="background-color:white;" id="img-btn-conve"><img  src="static/img/cate/cate-convenience/store.PNG" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-3" type="button" style="background-color:white;" id="img-btn-hos"><img  src="static/img/cate/cate-hospital/hos.PNG" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-3" type="button" style="background-color:white;" id="img-btn-jumin"><img  src="static/img/cate/cate-jumin/주민센터.PNG" style="max-width: 100%; height: auto;"></button>

            <textarea style="font-size: 3em;" class="cen form-control col-md-3" id="cate-text1" rows="1" >카페</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-3" id="cate-text2" rows="1" >편의점</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-3" id="cate-text3" rows="1" >병원</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-3" id="cate-text4" rows="1" >주민센터</textarea>

        </div>
    </div>
    <div class="dialog-cafe">
        <div class="form-row">
            <button class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-cate-cafe">CLOSE</button>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text1" rows="1" >아메리카노</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text2" rows="1" >계산</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text3" rows="1" >시럽</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text4" rows="1" >영수증</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text5" rows="1" >샷</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text6" rows="1" >텀블러</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe1"><img id="image-btn-cafe1" src="static/img/cate/cate-cafe/cofee.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe2"><img id="image-btn-cafe2" src="static/img/cate/cate-cafe/계산해요.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe3"><img id="image-btn-cafe3" src="static/img/cate/cate-cafe/시럽.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe4"><img id="image-btn-cafe4" src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe5"><img id="image-btn-cafe5" src="static/img/cate/cate-cafe/커피 샷.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe6"><img id="image-btn-cafe6" src="static/img/cate/cate-cafe/텀블러.jpg" style="max-width: 100%; height: auto;"></button>

            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text7" rows="1" >테이크아웃</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text8" rows="1" >현금</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text9" rows="1" >카드</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text10" rows="1" >얼음</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text11" rows="1" >영수증</textarea>
            <textarea style="font-size: 2.5em;"class="cen form-control col-md-2" id="cate-cafe-text12" rows="1" >환불</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe7"><img id="image-btn-cafe7" src="static/img/cate/cate-cafe/테이크아웃.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe8"><img id="image-btn-cafe8" src="static/img/cate/cate-cafe/현금.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe9"><img id="image-btn-cafe9" src="static/img/cate/cate-cafe/카드.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe10"><img id="image-btn-cafe10" src="static/img/cate/cate-cafe/얼음.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe11"><img id="image-btn-cafe11" src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-cafe12"><img id="image-btn-cafe12" src="static/img/cate/cate-cafe/환불.jpg" style="max-width: 100%; height: auto;"></button>
        </div>
    </div>
    <div class="dialog-conve">
        <div class="form-row">
            <button class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-cate-conve">CLOSE</button>
            <textarea class="form-control col-md-2" id="cate-conve-text1" rows="1" >아메리카노</textarea>
            <textarea class="form-control col-md-2" id="cate-conve-text2" rows="1" >계산</textarea>
            <textarea class="form-control col-md-2" id="cate-conve-text3" rows="1" >시럽</textarea>
            <textarea class="form-control col-md-2" id="cate-conve-text4" rows="1" >영수증</textarea>
            <textarea class="form-control col-md-2" id="cate-conve-text5" rows="1" >샷</textarea>
            <textarea class="form-control col-md-2" id="cate-conve-text6" rows="1" >텀블러</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve1"><img id="image-btn-conve1" src="https://cdn.crowdpic.net/list-thumb/thumb_l_269080D6504E619FDB5E2B0965196CC1.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve2"><img id="image-btn-conve2" src="static/img/cate/cate-cafe/계산해요.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve3"><img id="image-btn-conve3" src="static/img/cate/cate-cafe/시럽.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve4"><img id="image-btn-conve4" src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve5"><img id="image-btn-conve5" src="static/img/cate/cate-cafe/커피 샷.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve6"><img id="image-btn-conve6" src="static/img/cate/cate-cafe/텀블러.jpg" style="max-width: 100%; height: auto;"></button>

            <textarea class="form-control txt_response col-md-2" id="cate-conve-text7" rows="1" readonly>테이크아웃</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-conve-text8" rows="1" readonly>현금</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-conve-text9" rows="1" readonly>카드</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-conve-text10" rows="1" readonly>얼음</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-conve-text11" rows="1" readonly>영수증</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-conve-text12" rows="1" readonly>환불</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve7"><img id="image-btn-conve7" src="static/img/cate/cate-cafe/테이크아웃.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve8"><img id="image-btn-conve8" src="static/img/cate/cate-cafe/현금.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve9"><img id="image-btn-conve9" src="static/img/cate/cate-cafe/카드.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve10"><img id="image-btn-conve10" src="static/img/cate/cate-cafe/얼음.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve11"><img id="image-btn-conve11" src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-conve12"><img id="image-btn-conve12" src="static/img/cate/cate-cafe/환불.jpg" style="max-width: 100%; height: auto;"></button>
        </div>
    </div>
    <div class="dialog-hos">
        <div class="form-row">
            <button class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-cate-hos">CLOSE</button>
            <textarea class="form-control col-md-2" id="cate-hos-text1" rows="1" >아메리카노</textarea>
            <textarea class="form-control col-md-2" id="cate-hos-text2" rows="1" >계산</textarea>
            <textarea class="form-control col-md-2" id="cate-hos-text3" rows="1" >시럽</textarea>
            <textarea class="form-control col-md-2" id="cate-hos-text4" rows="1" >영수증</textarea>
            <textarea class="form-control col-md-2" id="cate-hos-text5" rows="1" >샷</textarea>
            <textarea class="form-control col-md-2" id="cate-hos-text6" rows="1" >텀블러</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos1"><img id="image-btn-hos1" src="https://cdn.crowdpic.net/list-thumb/thumb_l_269080D6504E619FDB5E2B0965196CC1.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos2"><img id="image-btn-hos2" src="static/img/cate/cate-cafe/계산해요.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos3"><img id="image-btn-hos3" src="static/img/cate/cate-cafe/시럽.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos4"><img id="image-btn-hos4" src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos5"><img id="image-btn-hos5" src="static/img/cate/cate-cafe/커피 샷.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos6"><img id="image-btn-hos6" src="static/img/cate/cate-cafe/텀블러.jpg" style="max-width: 100%; height: auto;"></button>

            <textarea class="form-control txt_response col-md-2" id="cate-hos-text7" rows="1" readonly>테이크아웃</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-hos-text8" rows="1" readonly>현금</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-hos-text9" rows="1" readonly>카드</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-hos-text10" rows="1" readonly>얼음</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-hos-text11" rows="1" readonly>영수증</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-hos-text12" rows="1" readonly>환불</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos7"><img id="image-btn-hos7" src="static/img/cate/cate-cafe/테이크아웃.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos8"><img id="image-btn-hos8" src="static/img/cate/cate-cafe/현금.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos9"><img id="image-btn-hos9" src="static/img/cate/cate-cafe/카드.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos10"><img id="image-btn-hos10" src="static/img/cate/cate-cafe/얼음.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos11"><img id="image-btn-hos11" src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-hos12"><img id="image-btn-hos12" src="static/img/cate/cate-cafe/환불.jpg" style="max-width: 100%; height: auto;"></button>
        </div>
    </div>
    <div class="dialog-jumin">
        <div class="form-row">
            <button class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-cate-jumin">CLOSE</button>
            <textarea class="form-control col-md-2" id="cate-jumin-text1" rows="1" >아메리카노</textarea>
            <textarea class="form-control col-md-2" id="cate-jumin-text2" rows="1" >계산</textarea>
            <textarea class="form-control col-md-2" id="cate-jumin-text3" rows="1" >시럽</textarea>
            <textarea class="form-control col-md-2" id="cate-jumin-text4" rows="1" >영수증</textarea>
            <textarea class="form-control col-md-2" id="cate-jumin-text5" rows="1" >샷</textarea>
            <textarea class="form-control col-md-2" id="cate-jumin-text6" rows="1" >텀블러</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin1"><img id="image-btn-jumin1" src="https://cdn.crowdpic.net/list-thumb/thumb_l_269080D6504E619FDB5E2B0965196CC1.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin2"><img id="image-btn-jumin2" src="static/img/cate/cate-cafe/계산해요.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin3"><img id="image-btn-jumin3" src="static/img/cate/cate-cafe/시럽.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin4"><img id="image-btn-jumin4" src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin5"><img id="image-btn-jumin5" src="static/img/cate/cate-cafe/커피 샷.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin6"><img id="image-btn-jumin6" src="static/img/cate/cate-cafe/텀블러.jpg" style="max-width: 100%; height: auto;"></button>

            <textarea class="form-control txt_response col-md-2" id="cate-jumin-text7" rows="1" readonly>테이크아웃</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-jumin-text8" rows="1" readonly>현금</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-jumin-text9" rows="1" readonly>카드</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-jumin-text10" rows="1" readonly>얼음</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-jumin-text11" rows="1" readonly>영수증</textarea>
            <textarea class="form-control txt_response col-md-2" id="cate-jumin-text12" rows="1" readonly>환불</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin7"><img id="image-btn-jumin7" src="static/img/cate/cate-cafe/테이크아웃.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin8"><img id="image-btn-jumin8" src="static/img/cate/cate-cafe/현금.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin9"><img id="image-btn-jumin9" src="static/img/cate/cate-cafe/카드.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin10"><img id="image-btn-jumin10" src="static/img/cate/cate-cafe/얼음.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin11"><img id="image-btn-jumin11" src="static/img/cate/cate-cafe/영수증.jpg" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-jumin12"><img id="image-btn-jumin12" src="static/img/cate/cate-cafe/환불.jpg" style="max-width: 100%; height: auto;"></button>
        </div>
    </div>
    <div class="dialog-num">
        <div class="form-row">
            <textarea style="font-size: 3em;" class="cen form-control txt_input col-md-12" id="input_num" rows="1" readonly></textarea>
            <button style="font-size: 3em;" class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-close-num">CLOSE</button>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num1" rows="1" >1</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num2" rows="1" >2</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num3" rows="1" >3</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num4" rows="1" >4</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num5" rows="1" >5</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num6" rows="1" >6</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num1"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-1-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num2"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-2-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num3"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-3-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num4"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-4-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num5"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-5-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num6"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-6-icon.png" style="max-width: 100%; height: auto;"></button>

            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num7" rows="1" >7</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num8" rows="1" >8</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num9" rows="1" >9</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="num0" rows="1" >0</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="numhan" rows="1" >한</textarea>
            <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="numdu" rows="1" >두</textarea>

            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num7"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-7-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num8"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-8-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num9"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-9-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-num0"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-0-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-numhan"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-1-icon.png" style="max-width: 100%; height: auto;"></button>
            <button class="col-md-2" type="button" style="background-color:white;" id="img-btn-numdu"><img  src="https://kr.seaicons.com/wp-content/uploads/2015/11/Numbers-2-icon.png" style="max-width: 100%; height: auto;"></button>
        </div>
    </div>


    <div class="dialogbig">
        <div class="form-row ">
            <textarea style="font-size: 5em;" class="cen form-control txt_input col-md-12" id="big-text" rows="1" ></textarea>
            <button style="font-size: 2.5em;" class="col-md-12 close-button" type="button" style="background-color:white;" id="btn-process-big-close">CLOSE</button>
            <div id='cloneimg2' class="clone-img"></div>
            <textarea class="form-control txt_response col-md-12" id="" rows="1" readonly></textarea>
        </div>
    </div>

    <div class="overlay">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>
    <!--<a href="/" id="go_main">메인 페이지</a>-->

    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">한국외국어대학교 데청캠 리:본</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto" href="/" style="font-family: sans-serif;">Home</a></li>
            <li><a class="nav-link scrollto" href="/#about" style="font-family: sans-serif;">About Us</a></li>
            <li><a class="nav-link scrollto " href="/howtouse" style="font-family: sans-serif;">이용방법</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-8">

            <div class="form-row">
                <div class="form-group col-md-12">
                    <br>
                    <br>
                    <br>
                    <h3>문장</h3>
                </div>
            </div>


            <div id='cloneimg1' class="clone-img"></div>


            <div class="form-row">
                <article>
                    <textarea style="font-size: 3em;" placeholder="문장 만들기 버튼을 눌러주세요" class="mr col-md-8 form-control txt_input" id="input_text" rows="1" readonly></textarea>
                    <button style="font-size: 2.5em;" type="button" class="mr col-md-1.5 btn btn-primary btn-lg" id="delete">지우기</button>
                    <button style="font-size: 2.5em;" type="button" class="mr col-md-1.5 btn btn-primary btn-lg" onClick="window.location.reload()" id="init_text">초기화</button>
                </article>
            </div>
            <div class="form-row">
                <button type="button" class="mr col-md-3 big-button btn btn-secondary btn-lg btn-block" style="font-size: 2em;" id="btn-process-init">문장만들기 ⚡</button>
                <button type="button" class="mr col-md-1 btn big-button btn-secondary btn-lg btn-block" style="font-size: 2em;" id="btn-process-cate">장소</button>
                <button type="button" class="mr col-md-1 btn big-button btn-secondary btn-lg btn-block" style="font-size: 2em;" id="btn-process-num">숫자</button>
                <button type="button" class="mr col-md-1 btn big-button btn-secondary btn-lg btn-block" style="font-size: 2em;" id="btn-process-jum">.</button>
                <button type="button" class="mr col-md-1 btn big-button btn-secondary btn-lg btn-block"  style="font-size: 2em;" id="btn-process-question">?</button>
                <button type="button" class="mr col-md-1 btn big-button btn-secondary btn-lg btn-block" style="font-size: 2em;" id="btn-process-nuggimpyo">!</button>
                <button type="button" class="col-md-3 btn big-button learn-more btn-secondary btn-lg btn-block" style="font-size: 2em;" id="btn-process-big">문장크게만들기</button>

            </div>

            <br>
            <div class="form-row">

                <textarea style="font-size: 3em;" class="cen form-control col-md-2 " id="predict1" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict2" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict3" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict4" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict5" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict6" rows="1" ></textarea>

                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn1" ><img id="image1" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn2"><img id="image2" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn3"><img id="image3" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn4"><img id="image4" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn5"><img id="image5" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn6"><img id="image6" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>

                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict7" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict8" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict9" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict10" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2" id="predict11" rows="1" ></textarea>
                <textarea style="font-size: 3em;" class="cen form-control col-md-2 " rows="1" readonly>더 보기</textarea>

                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn7"><img id="image7" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn8"><img id="image8" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn9"><img id="image9" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn10"><img id="image10" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-btn11"><img id="image11" src="static/img/dogu/pure-white.PNG" style="max-width: 100%; height: auto;"></button>
                <button class="col-md-2" type="button" style="background-color:white;" id="img-more"><img src="static/img/dogu/plus-sign.png" style="max-width: 100%; height: auto;"></button>

            </div>
        </div>

        <div class="col-sm-1"></div>
    </div>
</body>
</html>
